
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 147%;
  }
  
 
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
    
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }

  .game .shots {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
    
  }

  .gameText {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  canvas {
    border: 3px solid #fff;
  }

  .btn {
    width: 200px;
    margin: 0 auto 0 auto;
    height: 50px;
    font-size: 20px;
    border: 5px solid black;
  }

  .btn:hover {
    border: 5px solid white;
    background-color: black;
    color:white;

  }

  .instructions {
    width: 500px;
    padding-top: 50px;
    margin: 0 auto 0 auto;
  }

  .instructions p {
    margin-bottom: 25px;
    margin-top: 16px;
  }
  