
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(121, 121, 121);
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 147%;
  }
  
 
  p {
    margin: 0;
  }

  h1 {
    margin-top: 60px;
  }
  
  .highlight {
    color: #3CFF33;
  }

  #offset {
    animation: letter-flicker 2s linear infinite;
    color: rgb(204, 21, 21);
  }
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
    
  }
  
  @media (min-width: 600px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  
  /* ---- STATS ----- */

  table {
    border: 0px ;
    margin: 0 auto 0 auto;
    padding-top: 50px;
  }

  table .date {
    font-size: 0.7em;
    width: 150px;
  }

  table .score, .level {
    width: 100px;
    font-weight: 700;
    text-align: center;
  }

  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .level {
    flex: 1;
    
  }
  
  .game .score {
    flex: 1;
    
  }

  .game .shots {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
    
  }

  .gameText {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  canvas {
    border: 3px solid #fff;
  }

  .btn {
    width: 200px;
    margin: 0 auto 0 auto;
    height: 50px;
    font-size: 20px;
    border: 5px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }

  .btn:hover {
    border: 5px solid white;
    background-color: black;
    color:white;

  }

  .instructions {
    width: 500px;
    padding-top: 50px;
    margin: 0 auto 0 auto;
  }

  .instructions p {
    margin-bottom: 25px;
    margin-top: 16px;
  }
 

  /* ---- ANIMATION ----- */

  @keyframes letter-flicker {
  0% {
    opacity:1.0;
    text-shadow: 0px 0px 29px rgb(204, 21, 21);
  }
  2% {
    opacity:1.0;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  4% {
    opacity:0.1;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  
  
  19% {
    opacity:0.1;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  21% {
    opacity:1.0;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  23% {
    opacity:0.1;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  
  80% {
    opacity:0.1;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
  87% {
    opacity:0.1;
    text-shadow: 0px 0px 29px  rgb(204, 21, 21);
  }
}